.buttonLogin {
    margin-top: 1.5rem;
    padding-left: 230px;
    border-radius: 20px;
    border:0;
    padding:10px 20px 10px 20px;
    outline: none;
  } 

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(7, 77, 34);
  border: transparent;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.3rem;;
  width: 10rem;
  padding: 1rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
  height: 3.5rem;
}
.button:hover {
  font-size: 1.4rem;
  background-color: rgb(63, 117, 84);
  transition: all .25s ease; 
  height: 3.5rem;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}